
:root {
  --ids__text-RGB:        250, 250, 250;
  --ids__link-RGB:        250, 250, 250;
  --ids__hover-RGB:       250, 250, 250;
  --ids__accent-RGB:      250, 250, 250;
  --ids__code-RGB:        140, 135, 130;
  --ids__mark-RGB:        255, 225, 0;
  --ids__surface-RGB:     17, 15, 13;
  --ids__background-RGB:  0, 0, 0;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}